<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="app-sidenav" mode="side" opened="false">
    <mat-toolbar class="header">
      <div>Filter</div>
      <mat-icon class="close cursorPointer" (click)="drawer.close()"
        >close</mat-icon
      >
    </mat-toolbar>
    <div>
      <button
        (click)="filter('')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Show All</span>
      </button>
      <br />
      <button
        (click)="filter('btnbg1')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg1"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
      <br />
      <button
        (click)="filter('btnbg2')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg2"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
      <br />
      <button
        (click)="filter('btnbg3')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg3"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
      <br />
      <button
        (click)="filter('btnbg4')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg4"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
      <br />
      <button
        (click)="filter('btnbg5')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg5"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
      <br />
      <button
        (click)="filter('btnbg6')"
        md-list-item
        class="col-md-12 noPadding btnbgSidebar btnbg6"
      >
        <mat-icon md-list-icon>done</mat-icon>
        <span>Select </span>
      </button>
    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()"
      class="cursorPointer"
    >
      menu
    </mat-icon>
    <div>Notes</div>
  </mat-toolbar>

  <div class="main contents">
    <div class="addSticky">
      <form [formGroup]="notesForm">
        <textarea
          matInput
          formControlName="note"
          placeholder="Take a note"
          [value]="notesString"
          #textNotes
          (change)="notesString = textNotes.value"
          matTooltip="Note"
        ></textarea>
        <div class="col-md-12">
          <button
            class="col-md-2 btnbg btnbg1"
            (click)="addNote($event, 'btnbg1', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg2"
            (click)="addNote($event, 'btnbg2', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg3"
            (click)="addNote($event, 'btnbg3', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg4"
            (click)="addNote($event, 'btnbg4', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg5"
            (click)="addNote($event, 'btnbg5', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg6"
            (click)="addNote($event, 'btnbg6', newUser)"
          ></button>
        </div>
      </form>
    </div>
    <div class="listSticky noPadding">
      <span
        *ngFor="let data of noteData"
        class="col-md-2 noPadding"
        [ngClass]="data.ClassName"
        (click)="editNote(data)"
      >
        <span class="col-md-12">
          <p>{{ data.Notes }}</p>
        </span>
        <span class="col-md-12 stickyDate"> {{ data.Date }}</span>
      </span>
    </div>
    <div></div>
  </div>
</mat-drawer-container>
